body {
    background-color: rgb(69, 95, 167);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

div {
    height: auto;
    width: 320px;
    background-color: rgb(187, 187, 187);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.829);
}

h1 {
    color: rgb(0, 0, 0);
}

form label, form input, form textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

form input, form textarea {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.829);
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    background-color: #dfdfdf;
    color: rgb(0, 0, 0);
}

input::placeholder, textarea::placeholder {
    color: #505050;
}

form button {
    margin-top: 10px;
    margin-left: 30px;
    padding: 10px 70px;
    background-color: rgb(77, 77, 77);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.89);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

textarea {
    height: 100px;  /* Ajuste na altura da textarea */
}

@media (max-width: 768px) {
    div {
        width: 90%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    form button {
        font-size: 14px;
        padding: 8px 15px;
    }
}
